<div class="row">
  <div class="col-sm-4 login-enter">
    <div>mono Compi ! のアイコン</div>
    <%= form_for(:session, url: login_path) do |f| %>
      <div class="form-group">
        ユーザ名
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        パスワード
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-sm-4 login-pics">
    <img src="/images/login02.jpg" alt="" width="100%">
  </div>
</div>

<%= link_to '新規ユーザ登録', signup_path %>