<div class="user-profile">
  <table>
    <tr>
      <th>ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>Eメール</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>姓</th>
      <td><%= @user.fam_name %></td>
    </tr>
    <tr>
      <th>名</th></th>
      <td><%= @user.giv_name %></td>
    </tr>
    <tr>
      <th>セイ</th>
      <td><%= @user.fam_name_kana %></td>
    </tr>
    <tr>
      <th>メイ</th>
      <td><%= @user.giv_name_kana %></td>
    </tr>
  </table>
</div>

